/* Here goes your CSS */

#sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
}
#page-content {
  margin-left: 300px;
}

body
{
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #484848;
  line-height: 20px;
}

.container
{
  padding: 50px;
  width: 500px;   /* Set width */
  margin: 0 auto; /* Automatically set left/right margins */
  border-radius: 5px;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.card
{
  text-align: center;
  background: white;                          /* White background */
  padding: 30px;
  margin: 20px auto;                            /* Internal space */
  border-radius: 10px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}

.rows
{
  text-align: center;
  background: white;                          /* White background */                           /* Internal space */
  border-radius: 2px;                         /* Small radius */
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 0px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}
.img-circle {
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.simple-link a:hover
{
    color: #04c7ce;
}

a:hover
{
    background-color: #04c7ce;
}



.button-large {
  border-radius: 4px;
  background: #008489;
  padding: 10px;
  color: white;
  height: 30px;
}

.btn-red {
    background-color: #DD5555;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}


h1
{
  font-family: 'Raleway', sans-serif;
  line-height: 40px;
  color: #B52B37;
  font-size: 20px;
}

h2
{
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  color: #333333;
  font-size: 16px;
}



